/*Всі коліри тексту 1-ого макету: 
1. #212121 (black)
2. #2196F3 (blue)
3. #FFFFFF (white)
4. #757575 (gray)*/
:root {
  --brand-color-1: #212121;
  --brand-color-2: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --tertiary-bg-color: #f5f4fa;
  --paragraph-color: #757575;
  --icons-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  color: var(--paragraph-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.03em;
  margin: 0;
}
/* header */
.logo {
  color: var(--brand-color-2);
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-header {
  margin-right: 93px;
}
.logo-black {
  color: #000000;
}
.header-link-logo-text,
.footer-link-logo-text {
  color: var(--brand-color-2);
  font-family: Raleway sans-serif;
}

.header {
  padding: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.link {
  text-decoration: none;
  color: currentColor;
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--brand-color-2);
}
.header-list-nav {
  color: var(--brand-color-1);
}
.header-list-link.current {
  position: relative;
  color: var(--brand-color-2);
}
.header-list-link {
  display: inline-flex;
  align-items: center;
  padding: 32px 0;
  transition: color var(--transition);
}
/* hero */
.hero {
  background-color: rgba(196, 196, 196, 1);
  text-align: center;

  padding: 200px 0;
}
.overlay {
  max-width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  width: 696px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
}
.hero-button {
  color: var(--primary-bg-color);
  background-color: var(--brand-color-2);
  border: none;
  font-weight: 700;
  font-size: 16px;
  min-width: 200px;
  line-height: 1.875;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  transition: background-color var(--transition);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* feature */
.feature-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--brand-color-1);
  margin-bottom: 10px;
}

/* about-us */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--brand-color-1);
}
/* our team */
.team {
  background-color: var(--tertiary-bg-color);
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--brand-color-1);
}
.team-paragraph,
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.18;
}
/* footer */
.footer {
  background-color: var(--secondary-bg-color);
  padding: 60px 0;
}
.logo-white {
  color: var(--primary-bg-color);
}
.footer-link-map {
  color: var(--primary-bg-color);
  transition: color var(--transition);
}
.footer-link-info {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}
.footer-address {
  font-style: inherit;
}
/* Для кнопок у портфоліо */
.filter-button {
  color: var(--brand-color-1);
  background-color: var(--tertiary-bg-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--brand-color-2);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Для постерів у портфоліо */
.portfolio-link {
  display: flex;
  flex-direction: column;
}
.portfolio-title {
  color: var(--brand-color-1);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
.btn {
  cursor: pointer;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* hw-03 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-list-nav,
.header-list-info {
  display: flex;
}
.header-list-nav {
  gap: 50px;
}
.container-header {
  display: flex;
  align-items: center;
}
.header-list-info .item:not(:last-child) {
  margin-right: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
img {
  display: block;
}
.feature-list .item {
  width: calc((100% - 90px) / 4);
}
.feature-list .item:last-child {
  margin-right: 0;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.container-portfolio {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}
.container-filter {
  display: flex;
}
.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.container-flex {
  display: flex;
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
}
.feature {
  padding-bottom: 0;
}

.container-team {
  background: #ffffff;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-names {
  margin-bottom: 10px;
}
.logo-footer {
  margin-bottom: 20px;
  display: inline-block;
}
.list-footer {
  display: flex;
  flex-direction: column;
}
.list-footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.header-list-info {
  max-height: 80px;
  margin-left: auto;
}
.card-set {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.list-about .item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.list-team .item {
  width: calc((100% - 90px) / 4);
}
.portfolio-list .portfolio-item {
  width: calc((100% - 60px) / 3);
}
.clients {
  background-color: var(--primary-bg-color);
}

.clients-title {
  color: var(--brand-color-1);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.icon {
  width: 20px;
  height: 20px;
}
.icon-info {
  margin-right: 10px;
  fill: currentColor;
}

.icon-feature {
  width: 70px;
  height: 70px;
  padding: 0;
  align-items: center;
}
.container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-bg-color);
  padding: 25px;
  margin-bottom: 30px;
  max-height: 120px;
}

.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.team-paragraph {
  margin-bottom: 16px;
}

.link-social {
  display: block;
  width: 44px;
  height: 44px;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  padding: 12px;
  fill: var(--icons-color);
  transition: fill var(--transition), background-color var(--transition);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.card-set .clients-item {
  width: calc((100% - 150px) / 6);
}
.link-clients:hover,
.link-clients:focus {
  color: var(--brand-color-2);
}

.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icons-color);
  transition: color var(--transition);
}

.main-list-footer {
  display: flex;
  align-items: baseline;
}
.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--brand-color-2);
}
.footer-title-info {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link {
  transition: box-shadow var(--transition);
}
.footer .link-social {
  background-color: #ffffff1a;
  fill: var(--primary-bg-color);
}
.link-social:hover,
.link-social:focus {
  fill: var(--primary-bg-color);
  background-color: var(--brand-color-2);
}
.container-about {
  position: absolute;
  background-color: #2f303acc;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px;
}
.item-title {
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.header-list-link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--brand-color-2);
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}
.overflow-container {
  position: relative;
  overflow: hidden;
}
.article-overflow {
  color: var(--primary-bg-color);

  font-size: 18px;
  line-height: 1.55;
}
.scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3e5;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.portfolio-link:hover .scroll-container,
.portfolio-link:focus .scroll-container {
  transform: translateY(0);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
  top: 0;
  left: 0;
  z-index: 100;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
}

.icon-close {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill var(--transition);
}

.button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.title-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 30px;
  color: #212121;
}

.modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}
.group-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  color: #000000;
  background-color: transparent;
  outline: none;
  transition: border var(--transition);
  height: 40px;
}
.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.group-label {
  position: absolute;
  color: var(--paragraph-color);
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;
  transition: transform var(--transition);
}
.group-form {
  position: relative;
}
.group-input:focus,
.group-input:hover {
  border: 1px solid var(--brand-color-2);
}
.group-input:focus + .group-label,
.group-input:not(:placeholder-shown) + .group-label {
  transform: translate(-42px, -42px);
}
.icons-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 18px;
  height: 18px;
  transition: fill var(--transition);
}
.group-input:focus ~ .icons-form,
.group-input:hover ~ .icons-form {
  fill: var(--brand-color-2);
}
.comment-form {
  display: block;
  width: 100%;
  outline: none;
  padding: 12px 16px;
  color: #000;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  max-height: 120px;
  transition: border var(--transition);
}
.comment-form:focus,
.comment-form:hover {
  border: 1px solid var(--brand-color-2);
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: var(--brand-color-2);
}

.button-form:hover,
.button-form:focus {
  background-color: #188ce8;
}
.group-checkbox {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  cursor: pointer;
}
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}
.icon-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--brand-color-1);
  border-radius: 2px;
  margin-right: 8px;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: background-image var(--transition), border var(--transition);
}
.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-color);
}
.link-privacy {
  color: var(--brand-color-2);
}
.list-group > .item:nth-child(-n + 2) {
  margin-bottom: 28px;
}
.list-group > .item:nth-child(3) {
  margin-bottom: 10px;
}
.list-group > .item:nth-child(4) {
  margin-bottom: 20px;
}
.checkbox-input:checked + .icon-checkbox {
  background-image: url(../images/icon-check.svg);
  border: 2px solid var(--brand-color-2);
}
.checkbox-input:hover + .icon-checkbox,
.checkbox-input:focus + .icon-checkbox {
  border: 2px solid var(--brand-color-2);
}
.comment-form::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.main-list-footer > .item:nth-child(2n) {
  margin-left: 70px;
}
.main-list-footer > .item:nth-child(3n) {
  margin-left: auto;
}
.footer-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  width: 358px;
  padding: 15px 0 15px 16px;
  color: var(--primary-bg-color);
  transition: border var(--transition);
  margin-right: 10px;
}
.footer-input:focus,
.footer-input:hover {
  border: 1px solid var(--brand-color-2);
}

.icon-footer-button {
  width: 24px;
  height: 24px;
  fill: var(--primary-bg-color);
}

.title-button-footer {
  color: var(--primary-bg-color);
  margin-right: 10px;
}

.footer-form {
  display: flex;
}
